@import "tailwindcss";


@theme inline {
 --font-poppins: var(--font-poppins);
}


body {
 background-color: white;
}


.p-datepicker {
  border-radius: 12px !important;
  padding: 8px !important;
}

.p-yearpicker-year {
  width: 80px !important;
  height: 40px !important;
  margin: 6px !important;
}

.p-inputtext{
  border: 0;
  padding: 0;
}

.p-button {
background-color:transparent;
border:0
}

.p-dropdown-header {
  border: 1px solid #05a2ff !important; /* Darker blue on focus */
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 35s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}





/* Handle Quill's data-list attributes */
/* .experience-description [data-list="bullet"] {
  list-style-type: disc;
  display: list-item;
}

.experience-description [data-list="ordered"] {
  list-style-type: decimal;
  display: list-item;
} */


/* .experience-description [data-list="bullet"] [data-list="bullet"],
.experience-description [data-list="ordered"] [data-list="bullet"] {
  list-style-type: circle;
  margin-left: 2.5rem;
}

.experience-description [data-list="bullet"] [data-list="ordered"],
.experience-description [data-list="ordered"] [data-list="ordered"] {
  list-style-type: lower-alpha;
  margin-left: 2.5rem;
} */




/* ////////  RED SELECTION   /////// */
::selection {
  background-color: rgba(190, 1, 23, 0.9);
  color: #ffffff;
}








/* //////////   SCROLL BAR     /////////// */
.no-scollbar::-webkit-scrollbar{
    width: 0;
    height: 0;
}


::-webkit-scrollbar {
  width: 4px;
  height:4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

