@import "tailwindcss";


@theme inline {
 --font-poppins: var(--font-poppins);
}


body {
 background-color: white;
}


.p-datepicker {
  border-radius: 12px !important;
  padding: 8px !important;
}

.p-yearpicker-year {
  width: 80px !important;
  height: 40px !important;
  margin: 6px !important;
}

.p-inputtext{
  border: 0;
  padding: 0;
}

.p-button {
background-color:transparent;
border:0
}

.p-dropdown-header {
  border: 1px solid #05a2ff !important; /* Darker blue on focus */
  /* box-shadow: 0 0 0 2px #93c5fd !important; */
}

/* input::placeholder {
  text-transform: capitalize !important;
  color: #a8bdca !important;
} */






@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 35s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}

::selection {
  background-color: rgba(190, 1, 23, 0.9);
  color: #ffffff;
}

.no-scollbar::-webkit-scrollbar{
    width: 0;
    height: 0;
}


::-webkit-scrollbar {
  width: 6px;
  height:6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

